{% extends "base.html" %}

{% block title %}Project Experience{% endblock %}

{% block styles %}
        <link rel="stylesheet" href="{{ url_for('main.static', filename='style.css') }}" />
{% endblock %}

{% block content %}
jello
    <div id="feedback-modal" style="display: none;">
        <form id="feedback-form">
            hello
        <label for="feedback">Your Feedback:</label><br>
        <textarea name="feedback" id="feedback" rows="5" cols="30"></textarea><br>
        <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}