.main-section {
    display: grid;
    flex-direction: column;
    flex: 1;
    margin-left: 300px;
    height: 100svh;
    overflow: hidden;
    /* position: relative; */
  }


.too-thin {
  display: none;
  /* Will be overridden by toothin.css at 371px and below */
}