/* Global Styles */
.content-container {
  border-radius: 15px;
  box-shadow: inset 12px 12px 34px rgba(25, 24, 26, 0.08);
  overflow-y: auto;
  border-radius: 15px 0 0 0;
}

.experience-section-container {
  padding: 20px;
}

.tile {
  border-radius: 15px;
  min-height: 100px;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-section {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  grid-auto-columns: 1fr;
}



@media (max-width: 571px) {
  .experience-section {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 1rem;
  }
}
@media (max-width: 975px) {
  .experience-section {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
}

.outer {
  aspect-ratio: 1;
  overflow-y: clip;
  overflow-x: clip;
}

.work {
  color: red;
  border: 2px solid red;
}

.project {
  color: #d4a017;
  border: 2px solid #d4a017;
}

.other {
  color: #333;
  border: 2px solid #0d9118;
}

.experience-image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.experience-term {
  font-size: 1rem;
  color: #4d4d4d;
}

.experience-content {
  display: flex;
  white-space: nowrap;
  overflow: visible;
  flex-direction: column;
  justify-content: center;
}

.experience-type {
  margin: 0 0 auto auto;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-family: 'SF Pro Rounded Bold', sans-serif;
  text-transform: uppercase;
}

.experience-title {
  font-size: 1.5rem;
  font-family: 'SF Pro Rounded Bold', sans-serif;
  display: flex;
  justify-content: center;
}

.experience-subtitle {
  font-size: 1rem;
  font-family: 'SF Pro Rounded Bold', sans-serif;
  color: #4d4d4d;
  display: flex;
  justify-content: center;
}

.experience-term {
  display: flex;
    justify-content: center;
}

.experience-section img {
  aspect-ratio: 1;
  max-width: min(200px, 90%);
  height: auto;
}

/* Project 1 */
/* 4 x 3 */
@media (min-width: 1460px) {
  #project-1 { 
    aspect-ratio: unset;
    grid-column: span 2;
    grid-row: span 2;
    /* background-color: #9999ff; */

    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr ;
    padding: 1rem;
    gap: 1rem;  
  }
  #project-1 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-1 .experience-images {
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }
  #project-1 .experience-images img {
    /* image size to fit the size of the box while keeping the ratio */
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  #project-1 .experience-content {
    grid-row: 3;
    padding: 15px;
  }
  #project-1 .experience-shortdes {
    grid-row: 4;
    padding: 15px;
  }
  #project-1 .experience-link-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px;
  }
  #project-1 .experience-link-images img {
    width: auto;
    height: 40px;
    object-fit: contain;
  }
  /* hidden items */
  #project-1 .experience-image-container {
    display: none;
  }
  #project-1 .experience-links {
    display: none;
  }
  #project-1 .experience-tags {
    display: none;
  }
}

/* 3 x 3 */
@media (min-width: 1114px) and (max-width: 1459px) {
  #project-1 { 
    aspect-ratio: unset;
    grid-column: span 2;
    grid-row: span 1;
    /* background-color: white; */

    display: grid;
    grid-template-rows: 0.01fr 1fr ;
    grid-template-columns: 1fr 2fr 1fr ;
    padding: 1rem;
    gap: 1rem; 
    /* position: relative;  */
  }
  #project-1 .experience-images {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #project-1 .experience-content {
    grid-row: 2;
    grid-column: 2 / span 3;
    width: 100%; 
    padding: 15px;
    margin:  0 auto 0 0;
  }
  #project-1 .experience-title {
    justify-content: flex-start;
    white-space: normal;
    overflow-wrap: break-word;
  }
  #project-1 .experience-subtitle {
    justify-content: flex-start;
  }
  #project-1 .experience-term {
    justify-content: flex-start;
  }
  #project-1 .experience-type {
    grid-row: 1;
    grid-column: 3;
    overflow:visible;
    width: auto;
  }

  /* hidden items */
  #project-1 .experience-image-container {
    display: none;
  }
  #project-1 .experience-links {
    display: none;
  }
  #project-1 .experience-tags {
    display: none;
  }
  #project-1 .experience-link-images {
    display: none;
  }
  #project-1 .experience-shortdes {
    display: none;
  }
}

/* 2 x 3 */
@media (max-width: 1113px) {
  #project-1 {
    aspect-ratio: 2/1;
    grid-column: span 2;
    grid-row: span 1;
    /* background-color: white; */

    display: grid;
    grid-template-rows: 0.01fr 1fr ;
    grid-template-columns: 1fr 2fr 1fr ;
    padding: 1rem;
    gap: 1rem; 
    /* position: relative;  */
  }
  #project-1 .experience-images {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #project-1 .experience-content {
    grid-row: 2;
    grid-column: 2 / span 3;
    width: 100%; 
    padding: 15px;
    margin:  0 auto 0 0;
  }
  #project-1 .experience-title {
    justify-content: flex-start;
    white-space: normal;
    overflow-wrap: break-word;
  }
  #project-1 .experience-subtitle {
    justify-content: flex-start;
  }
  #project-1 .experience-term {
    justify-content: flex-start;
  }
  #project-1 .experience-type {
    grid-row: 1;
    grid-column: 3;
    overflow:visible;
    width: auto;
  }

  /* hidden items */
  #project-1 .experience-image-container {
    display: none;
  }
  #project-1 .experience-links {
    display: none;
  }
  #project-1 .experience-tags {
    display: none;
  }
  #project-1 .experience-link-images {
    display: none;
  }
  #project-1 .experience-shortdes {
    display: none;
  }
}

/* Project 2 */
/* 4 x 3 */
  #project-2 { 
    aspect-ratio: unset;
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #99ff99; */
    aspect-ratio: 1/1;

    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    padding: 1rem;
    gap: 1rem;  
  }
  #project-2 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-2 .experience-content {
    grid-row: 2;
    padding: 15px;
    margin: auto 0 0 0;
  }
  /* hidden items */
  #project-2 .experience-image-container {
    display: none;
  }
  #project-2 .experience-links {
    display: none;
  }
  #project-2 .experience-tags {
    display: none;
  }
  #project-2 .experience-link-images {
    display: none;
  }
  #project-2 .experience-shortdes {
    display: none;
  }
  #project-2 .experience-images {
    display: none;
  }


/* Project 3 */
/* 4 x 3 */
@media (min-width: 1460px) {
  #project-3 {
    aspect-ratio: 1/2;
    grid-column: span 1;
    grid-row: span 2;
    /* background-color: white; */

    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 0.1fr ;
    padding: 1rem;
    gap: 1rem;  
  }

  /* hidden items */
  #project-3 .experience-image-container {
    display: none;
  }
  #project-3 .experience-links {
    display: none;
  }
  #project-3 .experience-tags {
    display: none;
  }

  #project-3 .experience-images {
    grid-row: 2;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* overflow: hidden; */
  }

  #project-3 .experience-images img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  #project-3 .experience-content {
    grid-row: 3;
    padding: 15px;
  }
  #project-3 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-3 .experience-shortdes {
    display: 4;
    padding: 15px;
  }
  #project-3 .experience-sublink {
    grid-row: 5;
  }
  #project-3 .experience-link-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px;
  }
  #project-3 .experience-link-images img {
    width: auto;
    height: 40px;
    object-fit: contain;
  }
}

/* 3 x 3 */
@media (min-width: 1114px) and (max-width: 1459px) {
  #project-3 { 
    aspect-ratio: unset;
    grid-column: span 1;
    grid-row: span 2;
    grid-column-start: 3;
    /* background-color: #9999ff; */

    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 0.1fr ;
    padding: 1rem;
    gap: 1rem;  
  }

  /* hidden items */
  #project-3 .experience-image-container {
    display: none;
  }
  #project-3 .experience-links {
    display: none;
  }
  #project-3 .experience-tags {
    display: none;
  }

  #project-3 .experience-images {
    grid-row: 2;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* overflow: hidden; */
  }

  #project-3 .experience-images img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  #project-3 .experience-content {
    grid-row: 3;
    padding: 15px;
  }
  #project-3 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-3 .experience-shortdes {
    display: 4;
    padding: 15px;
  }
  #project-3 .experience-sublink {
    grid-row: 5;
  }
  #project-3 .experience-link-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px;
  }
  #project-3 .experience-link-images img {
    width: auto;
    height: 40px;
    object-fit: contain;
  }
}

/* 2 x 3 */
@media (max-width: 1113px) {
  #project-3 { 
    aspect-ratio: 1;
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #9999ff; */

    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    padding: 1rem;
    gap: 1rem;  
  }
  #project-3 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-3 .experience-content {
    grid-row: 2;
    padding: 15px;
    margin: auto 0 0 0;
  }
  /* hidden items */
  #project-3 .experience-image-container {
    display: none;
  }
  #project-3 .experience-links {
    display: none;
  }
  #project-3 .experience-tags {
    display: none;
  }
  #project-3 .experience-link-images {
    display: none;
  }
  #project-3 .experience-shortdes {
    display: none;
  }
  #project-3 .experience-images {
    display: none;
  }

}

/* Project 4 */
/* 4 x 3 and 3 x 3 */
@media (min-width: 1114px) {
  #project-4 { 
    aspect-ratio: 1;
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #ffff99; */

    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    padding: 1rem;
    gap: 1rem;  
  }
  #project-4 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-4 .experience-content {
    grid-row: 2;
    padding: 15px;
    margin: auto 0 0 0;
  }
  /* hidden items */
  #project-4 .experience-image-container {
    display: none;
  }
  #project-4 .experience-links {
    display: none;
  }
  #project-4 .experience-tags {
    display: none;
  }
  #project-4 .experience-link-images {
    display: none;
  }
  #project-4 .experience-shortdes {
    display: none;
  }
  #project-4 .experience-images {
    display: none;
  }

}

/* 2 x 3 */
@media (max-width: 1113px) {
  #project-4 { 
    aspect-ratio: 2/1;
    grid-column: span 2;
    grid-row: span 1;
    /* background-color: #ffff99; */

    display: grid;
    grid-template-rows: 0.01fr 1fr ;
    grid-template-columns: 1fr 2fr 1fr ;
    padding: 1rem;
    gap: 1rem; 
    /* position: relative;  */
  }
  #project-4 .experience-images {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #project-4 .experience-content {
    grid-row: 2;
    grid-column: 2 / span 3;
    width: 100%; 
    padding: 15px;
    margin:  0 auto 0 0;
  }
  #project-4 .experience-title {
    justify-content: flex-start;
    white-space: normal;
    overflow-wrap: break-word;
  }
  #project-4 .experience-subtitle {
    justify-content: flex-start;
  }
  #project-4 .experience-term {
    justify-content: flex-start;
  }
  #project-4 .experience-type {
    grid-row: 1;
    grid-column: 3;
    overflow:visible;
    width: auto;
  }

  /* hidden items */
  #project-4 .experience-image-container {
    display: none;
  }
  #project-4 .experience-links {
    display: none;
  }
  #project-4 .experience-tags {
    display: none;
  }
  #project-4 .experience-link-images {
    display: none;
  }
  #project-4 .experience-shortdes {
    display: none;
  }
}

/* Project 5 */
  #project-5 { 
    aspect-ratio: unset;
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #99ffff; */
    aspect-ratio: 1/1;

    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    padding: 1rem;
    gap: 1rem;  
  }
  #project-5 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-5 .experience-content {
    grid-row: 2;
    padding: 15px;
    margin: auto 0 0 0;
  }
  /* hidden items */
  #project-5 .experience-image-container {
    display: none;
  }
  #project-5 .experience-links {
    display: none;
  }
  #project-5 .experience-tags {
    display: none;
  }
  #project-5 .experience-link-images {
    display: none;
  }
  #project-5 .experience-shortdes {
    display: none;
  }
  #project-5 .experience-images {
    display: none;
  }


/* Project 6 */
/* 4 x 3 and 3 x 3 */
@media (min-width: 1114px) {
  #project-6 { 
    aspect-ratio: 2/1;
    grid-column: span 2;
    grid-row: span 1;
    /* background-color: #ff99ff; */

    display: grid;
    grid-template-rows: 0.01fr 1fr ;
    grid-template-columns: 1fr 2fr 1fr ;
    padding: 1rem;
    gap: 1rem; 
  }
  #project-6 .experience-images {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #project-6 .experience-content {
    grid-row: 2;
    grid-column: 2 / span 3;
    width: 100%; 
    padding: 15px;
    margin:  0 auto 0 0;
  }
  #project-6 .experience-title {
    justify-content: flex-start;
    white-space: normal;
    overflow-wrap: break-word;
  }
  #project-6 .experience-subtitle {
    justify-content: flex-start;
  }
  #project-6 .experience-term {
    justify-content: flex-start;
  }
  #project-6 .experience-type {
    grid-row: 1;
    grid-column: 3;
    overflow:visible;
    width: auto;
  }

  /* hidden items */
  #project-6 .experience-image-container {
    display: none;
  }
  #project-6 .experience-links {
    display: none;
  }
  #project-6 .experience-tags {
    display: none;
  }
  #project-6 .experience-link-images {
    display: none;
  }
  #project-6 .experience-shortdes {
    display: none;
  }
}

/* 2 x 3 */
@media (max-width: 1113px) {
  #project-6 { 
    aspect-ratio: 1;
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #ff99ff; */

    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    padding: 1rem;
    gap: 1rem;  
  }
  #project-6 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-6 .experience-content {
    grid-row: 2;
    padding: 15px;
    margin: auto 0 0 0;
  }
  /* hidden items */
  #project-6 .experience-image-container {
    display: none;
  }
  #project-6 .experience-links {
    display: none;
  }
  #project-6 .experience-tags {
    display: none;
  }
  #project-6 .experience-link-images {
    display: none;
  }
  #project-6 .experience-shortdes {
    display: none;
  }
  #project-6 .experience-images {
    display: none;
  }

}

/* Project 7 */
/* 4 x 3 */
@media (min-width: 1114px) {
  #project-7 { 
    aspect-ratio: unset;
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #cccccc; */
    aspect-ratio: 1/1;

    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    padding: 1rem;
    gap: 1rem;  
  }
  #project-7 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-7 .experience-content {
    grid-row: 2;
    padding: 15px;
    margin: auto 0 0 0;
  }
  /* hidden items */
  #project-7 .experience-image-container {
    display: none;
  }
  #project-7 .experience-links {
    display: none;
  }
  #project-7 .experience-tags {
    display: none;
  }
  #project-7 .experience-link-images {
    display: none;
  }
  #project-7 .experience-shortdes {
    display: none;
  }
  #project-7 .experience-images {
    display: none;
  }

}

/* 2 x 3 */
@media (max-width: 1113px) {
  #project-7 {
    aspect-ratio: 2/1;
    grid-column: span 2;
    grid-row: span 1;
    /* background-color: #cccccc; */

    display: grid;
    grid-template-rows: 0.01fr 1fr ;
    grid-template-columns: 1fr 2fr 1fr ;
    padding: 1rem;
    gap: 1rem; 
    /* position: relative;  */
  }
  #project-7 .experience-images {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #project-7 .experience-content {
    grid-row: 2;
    grid-column: 2 / span 3;
    width: 100%; 
    padding: 15px;
    margin:  0 auto 0 0;
  }
  #project-7 .experience-title {
    justify-content: flex-start;
    white-space: normal;
    overflow-wrap: break-word;
  }
  #project-7 .experience-subtitle {
    justify-content: flex-start;
  }
  #project-7 .experience-term {
    justify-content: flex-start;
  }
  #project-7 .experience-type {
    grid-row: 1;
    grid-column: 3;
    overflow:visible;
    width: auto;
  }

  /* hidden items */
  #project-7 .experience-image-container {
    display: none;
  }
  #project-7 .experience-links {
    display: none;
  }
  #project-7 .experience-tags {
    display: none;
  }
  #project-7 .experience-link-images {
    display: none;
  }
  #project-7 .experience-shortdes {
    display: none;
  }
}

/* cant make a flask loop in css :( */

  #project-8 { 
    aspect-ratio: unset;
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #ffff99; */
    aspect-ratio: 1/1;

    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    padding: 1rem;
    gap: 1rem;  
  }
  #project-8 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-8 .experience-content {
    grid-row: 2;
    padding: 15px;
    margin: auto 0 0 0;
  }
  /* hidden items */
  #project-8 .experience-image-container {
    display: none;
  }
  #project-8 .experience-links {
    display: none;
  }
  #project-8 .experience-tags {
    display: none;
  }
  #project-8 .experience-link-images {
    display: none;
  }
  #project-8 .experience-shortdes {
    display: none;
  }
  #project-8 .experience-images {
    display: none;
  }
  
  #project-9 { 
    aspect-ratio: unset;
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #ffff99; */
    aspect-ratio: 1/1;

    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    padding: 1rem;
    gap: 1rem;  
  }
  #project-9 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-9 .experience-content {
    grid-row: 2;
    padding: 15px;
    margin: auto 0 0 0;
  }
  /* hidden items */
  #project-9 .experience-image-container {
    display: none;
  }
  #project-9 .experience-links {
    display: none;
  }
  #project-9 .experience-tags {
    display: none;
  }
  #project-9 .experience-link-images {
    display: none;
  }
  #project-9 .experience-shortdes {
    display: none;
  }
  #project-9 .experience-images {
    display: none;
  }
 
  #project-10 { 
    aspect-ratio: unset;
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #ffff99; */
    aspect-ratio: 1/1;

    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    padding: 1rem;
    gap: 1rem;  
  }
  #project-10 .experience-type {
    grid-row: 1;
    overflow:visible;
  }

  #project-10 .experience-content {
    grid-row: 2;
    padding: 15px;
    margin: auto 0 0 0;
  }
  /* hidden items */
  #project-10 .experience-image-container {
    display: none;
  }
  #project-10 .experience-links {
    display: none;
  }
  #project-10 .experience-tags {
    display: none;
  }
  #project-10 .experience-link-images {
    display: none;
  }
  #project-10 .experience-shortdes {
    display: none;
  }
  #project-10 .experience-images {
    display: none;
  }
