<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ryo Fujimura</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/experience.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search_filter.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toothin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
</head>
<body>
  <div class="content-wrapper">
    <div class="layout-container">
      <!-- Profile Section -->
      <!-- use porfolio.html -->
       {% include 'portfolio.html' %}      
      <!-- Main Section -->
      {% include 'base.html' %} 
    </div>
    <div class="too-thin">
      <div class="too-thin-content">
        <h1>Oops!</h1>
        <p>This screen is feeling a little too squished. Try widening your view!</p>
      </div>
  </div>
</body>
</html>