<div class="profile-section">
    <div class="logo-section">
        <img src="/static/images/ryosketch-2.png" alt="Logo" class="logo" />
        <img src="/static/images/logo.png" alt="Logo" class="logo" />
        <img src="/static/images/ryosketch-3.png" alt="Logo" class="logo" />
    </div>
    <div class="profile-content inset">
        {% if profile %}
        <img src={{ profile.img_path }} alt="Profile Photo" class="profile-photo" />
        <h2 class="profile-name">Hi, I'm<br>{{ profile.name }}</h2> 
        <h4 class="profile-title">{{ profile.title }}</h4>
        <p class="profile-bio">{{ profile.bio }}</p>
        <div class="profile-numbers">
            <div>
                <h3>120+</h3>
                <p>Projects</p>
            </div>
            <div>
                <h3>350+</h3>
                <p>Followers</p>
            </div>
            <div>
                <h3>50+</h3>
                <p>Repositories</p>
            </div>
        </div>
        {% else %}
            <h2 class="profile-name">Hi, I'm<br>Ryo Fujimura</h2>
        {% endif %}
    </div>
    <div class="link-tile">
        <a href="https://www.linkedin.com/in/ryofujimura/" target="_blank" aria-label="LinkedIn">
            <div class="social-icon outer">
                <img src="/static/images/linkedin.png" alt="LinkedIn" />
            </div>
        </a>
        <a href="https://github.com/ryofujimura" target="_blank" aria-label="GitHub">
            <div class="social-icon outer">
                <img src="/static/images/github.png" alt="GitHub" />
            </div>
        </a>
        <a href="https://docs.google.com/document/d/1J32LsLRUETEwXttxBxeZHVihFNcm10fRAfiumhfVTTU/edit?usp=sharing"
            aria-label="Resume">
            <div class="social-icon outer">
                <img src="/static/images/resume.png" alt="Resume" />
            </div>
        </a>
    </div>
</div>